# Visual Code stuff that we don't care about
.vscode/*

# Input DOL and IDA Map exports
/*.map
/*.dol

# CodeWarrior stuff
CodeWarrior/license.dat
CodeWarrior/lmgr11.dll
CodeWarrior/*.exe

# ignore any custom objects
include/custom/*

# ignore any custom object projects and other stuff
Projects/QuestionBlock/*
Projects/PatchObjects/*